{:comments [{:action 0
             :comment ""
             :nudge 0}]
 :questions [
             {:id 0
              :topic :evidence
              :question "Detective Rex Flotsam, SBPD. Are you aware that a severed human foot was on the beach not far from here?"
              :realness 0
              }
             {:id 1
              :topic :murder
              :question "Detective Flotsam here. Are you aware that there was a murder here last night?"
              :realness 0}
             {:id 2
              :topic :victim
              :question "This foot must belong to someone. Who was killed last night?"
              :realness 0}
             {:id 3
              :topic :evidence
              :question "Why am I holding a shoe?"
              :realness 3}
             {:id 4
              :topic :victim
              :question "There was a murder last night. Did you know the victim?"
              :realness 1}
             {:id 5
              :topic :murder
              :question "I have a feeling something strange happened here last night. Do you know anything about it?"
              :realness 3}
             {:id 6
              :topic :evidence
              :question "Who does this shoe belong to?"
              :realness 4}
             {:id 7
              :topic :murder
              :question "My God. What did I do?"
              :realness 5}
             {:id 8
              :topic :evidence
              :question "There is something strange about this foot that I found on the beach..."
              :realness 2}
             {:id 9
              :topic :evidence
              :question "Strange thing to find on a beach, a foot. How do you think it got there?"
              :realness 1}
             {:id 10
              :topic :murder
              :question "What happened at the beach last night? Were there any witnesses?"
              :realness 1}
             {:id 11
              :topic :murder
              :question "Did you see anything suspicious happening here last night?"
              :realness 2}
             {:id 12
              :topic :victim
              :question "I don't see any corpses. There's only this severed foot. Have you seen anything?"
              :realness 1}
             {:id 13
              :topic :victim
              :question "I suspect there was a homicide, but I'm not sure about the motive."
              :realness 2}
             {:id 14
              :topic :victim
              :question "Though I'm not too sure what happened here last night, there was a crime, and there must have been a victim. Who was it?"
              :realness 3}
             {:id 15
              :topic :victim
              :question "I think... I think the murder had something to do with... getting a fix."
              :realness 4}
             {:id 16
              :topic :victim
              :question "Mary... what have I done?"
              :realness 5}
             {:id 17
              :topic :murder
              :question "Was there... a murder? I think... I think I remember something."
              :realness 4}
             {:id 18
              :topic :killer
              :question "I'm detective Rex Flotsam, Beach Cop. Did you kill someone on the beach last night?"
              :realness 0}
             {:id 19
              :topic :killer
              :question "I'm investigating a murder on behalf of Sunny Beach Police Department. Where were you last night?"
              :realness 1}
             {:id 20
              :topic :killer
              :question "I'm sure there was a killing here last night. I just need to know the motive, so I can track down the killer."
              :realness 2}
             {:id 21
              :topic :killer
              :question "I'm having trouble tracking down the killer."
              :realness 3}
             {:id 22
              :topic :killer
              :question "People keep telling me things about the killings. I don't want to believe them."
              :realness 4}
             {:id 23
              :topic :killer
              :question "The identity of the killer... they... I... Mary..."
              :realness 5}
             {:id 24
              :topic :evidence
              :question "Why was someone killed over a shoe? Was this shoe important somehow?"
              :realness 4}
             {:id 25
              :topic :evidence
              :question "The shoe... she was hiding the stash in the shoe..."
              :realness 5}
             ]
 :answers
 {:adam [{:question -1
          :answer "I wouldn't know about that."
          :nudge 0}
         {:question 0
          :answer "What are you talking about? What severed foot?"
          :nudge 1}
         {:question 1
          :answer "I was around, but didn't see any murders. And I don't have to answer your questions!"
          :nudge 0}
         {:question 2
          :answer "That's... that's not a foot, mate."
          :nudge 1}
         {:question 3
          :answer "Why don't you ask the person who it used to belong to?"
          :nudge 1}
         {:question 4
          :answer "No, officer. I don't know nobody around here."
          :nudge 0}
         {:question 5
          :answer "You mean you don't know?"
          :nudge 1}
         {:question 6
          :answer "Well mate, it's not mine."
          :nudge 0}
         {:question 7
          :answer "This is a new low, even for you."
          :nudge 1}
         {:question 8
          :answer "Look, I may not be your average businessman on the street, but I never done anything like cutting off limbs."
          :nudge 0}
         {:question 9
          :answer "Well, it WOULD be strange if it really were a foot. You should take a closer look."
          :nudge 1}
         {:question 10
          :answer "I didn't see anything, but I heard there were at least two people involved. I would think you'd know at least ONE of them."
          :nudge 1}
         {:question 11
          :answer "No, officer."
          :nudge 0}
         {:question 12
          :answer "I haven't seen the other one, if that's what you mean."
          :nudge 0}
         {:question 13
          :answer "Mate, you are so far gone if you don't know what's going on here."
          :nudge 1}
         {:question 14
          :answer "I had nothing to do with it. If you're not arresting me, I'm not talking."
          :nudge 0}
         {:question 15
          :answer "Yeah, those damn junkies. Always killing each other for a fix. I gotta get out of this business..."
          :nudge 0}
         {:question 16
          :answer "She should have left you while she had the chance. Now she's paid the price."
          :nudge 1}
         {:question 17
          :answer "Your guess is as good as mine. Could have been a murder, yeah."
          :nudge 0}
         {:question 18
          :answer "Not you again. You need to give up the fantasy, mate."
          :nudge 1}
         {:question 19
          :answer "I was here, working. But I have an alibi."
          :nudge 0}
         {:question 20
          :answer "Nothing to do with me. I ain't seen nothin'."
          :nudge 0}
         {:question 21
          :answer "Maybe a little introspection would help."
          :nudge 1}
         {:question 22
          :answer "Maybe you just don't want to face the truth."
          :nudge 1}
         {:question 23
          :answer "I hope you rot in hell for what you did to her."
          :nudge 1}
         {:question 24
          :answer "Maybe there was something inside it. Something you wanted."
          :nudge 1}
         {:question 25
          :answer "...I see"
          :nudge 0}
         ]
  :sam [{:question -1
         :answer "I don't know anything, man!"
         :nudge 0}
         {:question 0
          :answer "Jesus. Stop acting like you're a cop. This is getting old."
          :nudge 1}
         {:question 1
          :answer "Nope."
          :nudge 0}
         {:question 2
          :answer "Dunno."
          :nudge 0}
         {:question 3
          :answer "You should know. I mean, you knew its owner."
          :nudge 1}
         {:question 4
          :answer "No, but you sure did."
          :nudge 1}
         {:question 5
          :answer "Nope."
          :nudge 0}
         {:question 6
          :answer "Not a clue."
          :nudge 0}
         {:question 7
          :answer "You went too far this time. We've put up with you for too long on this beach. Damn junkies."
          :nudge 1}
         {:question 8
          :answer "Foot? You mean that shoe you're holding?"
          :nudge 1}
         {:question 9
          :answer "That's no foot."
          :nudge 1}
         {:question 10
          :answer "Well, I wasn't here for a start."
          :nudge 0}
         {:question 11
          :answer "Yeah. You were here, doing what you usually do."
          :nudge 1}
         {:question 12
          :answer "Nope."
          :nudge 0}
         {:question 13
          :answer "You mean you don't remember? Jesus, man..."
          :nudge 1}
         {:question 14
          :answer "Not me."
          :nudge 0}
         {:question 15
          :answer "Oh, so you're starting to remember?"
          :nudge 1}
         {:question 16
          :answer "You killed her."
          :nudge 1}
         {:question 17
          :answer "You're going to jail for good this time."
          :nudge 1}
         {:question 18
          :answer "I can't believe how deluded you are. You honestly don't remember anything? You're a danger to society."
          :nudge 1}
         {:question 19
          :answer "The real question is where YOU were last night."
          :nudge 1}
         {:question 20
          :answer "I'm sure you won't be looking for long..."
          :nudge 1}
         {:question 21
          :answer "That's surprising. I mean, it shouldn't be THAT hard..."
          :nudge 1}
         {:question 22
          :answer "Uh huh."
          :nudge 0}
         {:question 23
          :answer "Riiiiight."
          :nudge 0}
         {:question 24
          :answer "She was hiding something from you in it."
          :nudge 1}
         {:question 25
          :answer "..."
          :nudge 0}
        ]
  :luce {:intro ["How are you? Mine name is Luce."]
         :questions [{:question -1
                      :answer "Your guess is as good as mine."
                      :nudge 0}
                     {:question 0
                      :answer "No, officer, I don't know anything about it."
                      :nudge 0}
                     {:question 1
                      :answer "I heard something... a couple arguing, I heard."
                      :nudge 1}
                     {:question 2
                      :answer "I don't know anything about any killings, but I'm happy to answer any questions you have."
                      :nudge 0}
                     {:question 3
                      :answer "...weren't you saying that was a foot just now?"
                      :nudge 1}
                     {:question 4
                      :answer "No, officer. She wasn't anyone that I know."
                      :nudge 0}
                     {:question 5
                      :answer "There was a murder. A couple of junkies were arguing over something. It got ugly."
                      :nudge 1}
                     {:question 6
                      :answer "That was one of hers. The girl that got murdered."
                      :nudge 1}
                     {:question 7
                      :answer "..."
                      :nudge 0}
                     {:question 8
                      :answer "...are you sure that's not just a shoe?"
                      :nudge 1}
                     {:question 9
                      :answer "Yeah, a foot would be pretty strange. But that's no foot!"
                      :nudge 1}
                     {:question 10
                      :answer "I saw something. A couple of junkies arguing over a fix."
                      :nudge 1}
                     {:question 11
                      :answer "I saw the whole thing. Didn't see the face of the killer, though. He got away before they could catch him."
                      :nudge 1}
                     {:question 12
                      :answer "I saw them take the body away. It was a woman... say, didn't you know her?"
                      :nudge 1}
                     {:question 13
                      :answer "Sorry officer, I can't help you with that."
                      :nudge 0}
                     {:question 14
                      :answer "It was a young girl. Such a pity."
                      :nudge 1}
                     {:question 15
                      :answer "That's right. It was two junkies arguing over a fix. Their last stash, hidden inside a shoe."
                      :nudge 1}
                     {:question 16
                      :answer "..."
                      :nudge 0}
                     {:question 17
                      :answer "Did you see the girl get murdered as well? Were you there?"
                      :nudge 1}
                     {:question 18
                      :answer "Hello again! I didn't know you were a detective. You must have been doing undercover work before."
                      :nudge 1}
                     {:question 19
                      :answer "I was here officer. The same as every night..."
                      :nudge 0}
                     {:question 20
                      :answer "It was a young couple, arguing over something."
                      :nudge 1}
                     {:question 21
                      :answer "Don't worry officer, I'm sure you'll find him."
                      :nudge 0}
                     {:question 22
                      :answer "...did you have something to do with the killing? Did you know the girl involved?"
                      :nudge 1}
                     {:question 23
                      :answer "..."
                      :nudge 0}
                     {:question 24
                      :answer "Beats me, officer."
                      :nudge 0}
                     {:question 25
                      :answer "So it was you. You killed her, just to get to the stash she was hiding from you, trying to save you from the addiction that was turning you into someone else."
                      :nudge 1}
                     ]}}
